$prefixes: -webkit, -moz, -ms, -o;

// These are just examples, replace with your own
$brand-color: #cccc00;
$action-color: #67a54b;
$function-color: #f2f2f2;
$alert-color: #b22727;

// Now create different 'tones' for each brand colour
$brand-color-light: lighten($brand-color, 10%);
$brand-color-lighter: lighten($brand-color, 20%);
$brand-color-dark: darken($brand-color, 10%);
$brand-color-darker: darken($brand-color, 20%);

$site-max-width: 940px;

$space: 1em;