<form method="post">
	<dl>
		<dt>Name</dt>
		<dd><input name="user"></dd>
		<dt>Email</dt>
		<dd><input name="email"></dd>
		<dt>Message</dt>
		<dd><textarea name="message"></textarea></dd>
	</dl>
	<p><input type="submit" value="Send"></p>
</form>