<p>Content from ERB template</p>
<%= erb :partial_home %>
<p>Escape dangerous content: <%= xss "<script>alert('XSS!')</script>" %> - using `Rack::Utils`</p>
<script data-main="Assets/Scripts/App/main" src="Assets/Scripts/require.js"></script>