<!doctype html>
<!-- Explanation: http://www.phpied.com/conditional-comments-block-downloads/ -->
<!--[if IE]><![endif]-->
<html dir="ltr" lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="" />
		<title></title>
		<!--[if lt IE 9]>
		<script src="Assets/Scripts/Utils/Elements/html5.js"></script>
		<![endif]-->
		<link rel="author" href="humans.txt" type="text/plain">
    	<link rel="stylesheet" href="/Assets/Styles/build.css" />
    	<!--[if IE 8]>
    	<link rel="stylesheet" href="/Assets/Styles/IE8.css" />
    	<![endif]-->
    	<!--[if IE 7]>
    	<link rel="stylesheet" href="/Assets/Styles/IE7.css" />
    	<![endif]-->
	</head>
	<body>
	    <!--[if lte IE 7]>
            <link rel="stylesheet" media="screen" href="/Assets/Styles/IE_notification.css" />
            <div id="ie-container"></div>
            <div id="ie-message">
            	<a href="/internet-explorer">
            		<span>Internet Explorer 6/7</span>
            		<img src="/Assets/Images/Browser-Warning-Message.png">
            	</a>
            </div>
        <![endif]-->
        <%= yield %>
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXX-X']);
            _gaq.push(['_trackPageview']);
            _gaq.push(['_trackPageLoadTime']);
            
            (function(){
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            }());
		</script>
	</body>
</html>