<!doctype html>
<!--[if IE 8]><html class="ie8" dir="ltr" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" dir="ltr" lang="en"><![endif]-->
<!--[if gt IE 9]><!--> <html dir="ltr" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="" />
		<title></title>
		<script>
            // Because Google Analytics is loaded asynchronously it's OK to insert it at the top of the page
            // All other JavaScript should be loaded at the bottom of the page though.
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXX-X']);
            _gaq.push(['_trackPageview']);
            _gaq.push(['_trackPageLoadTime']);
            
            (function(){
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            }());
		</script>
		<!--[if lt IE 9]>
		<script src="/Assets/Scripts/Utils/Elements/html5.js"></script>
		<![endif]-->
		<link rel="author" href="/humans.txt" type="text/plain">
		<link rel="stylesheet" href="Assets/Styles/320px-480px_home.css"  media="only screen and (min-width: 20em) and (max-width: 30em)">
        <link rel="stylesheet" href="Assets/Styles/600px-959px_home.css"  media="only screen and (min-width: 37.5em) and (max-width: 59.9375em)">
        <link rel="stylesheet" href="Assets/Styles/960px_home.css" media="only screen and (min-width: 60em)">
    	<!--[if (lt IE 9) & (!IEMobile)]>
    	<link rel="stylesheet" href="/Assets/Styles/960px_home.css">
    	<![endif]-->
	</head>
	<body>
	    <!--[if lte IE 7]>
            <link rel="stylesheet" media="screen" href="/Assets/Styles/IE_notification.css" />
            <div id="ie-container"></div>
            <div id="ie-message">
            	<a href="/internet-explorer">
            		<span>Internet Explorer 6/7</span>
            		<img src="/Assets/Images/Browser-Warning-Message.png">
            	</a>
            </div>
        <![endif]-->
        <a href="https://github.com/Integralist/Passage" class="forkme">
            https://github.com/Integralist/Passage
        </a>
        <%= yield %>
	</body>
</html>