/* =============================================================================
    Media Block
    http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
    
    Example usage:
    <div class="media" style="border:1px solid blue;">
        <a href="http://twitter.com/stubbornella" class="media-img">
            <img src="Assets/Images/forkme.png" alt="me" />
        </a>
        <div class="media-body">
            <p>This is a media object</p>
            <p>Concept from Stubbornella</p>
            <p>Might need a min-height set depending on your requirements</p>
        </div>
    </div>
   ========================================================================== */

.media {
	display: block;
}

.media-img {
	float: left;
	margin-right: 10px;
}

.media-body {
	overflow: hidden;
	margin-bottom: 0;
}