/* =============================================================================
   Tables
   ========================================================================== */

/* 
 * Remove most spacing between table cells.
 * Also make the table render more quickly by setting its layout to be fixed.
 * e.g. if first row of cells have widths then don't bother making browser re-calculate widths for each and every row
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}