/* =============================================================================
   Sets the CSS3 transformation for the element
   ========================================================================== */
   
@mixin transform ($transform) {
    -webkit-transform: $transform;
       -moz-transform: $transform;
        -ms-transform: $transform;
         -o-transform: $transform;
            transform: $transform;
}