/* =============================================================================
   Sets the CSS3 transitions for the element
   ========================================================================== */
   
@mixin transition ($transition: all 0.2s linear) {
    -webkit-transition: $transition;
       -moz-transition: $transition;
        -ms-transition: $transition;
         -o-transition: $transition;
            transition: $transition;
}