/* =============================================================================
   Home page demo
   ========================================================================== */

.topright {
    position: absolute;
    right: 0;
    top: 0;
}

.forkme {
    @extend .topright;
    
    text-indent: -999em;
    
    &:before {
        @extend .topright;
        
        background: url(../Images/forkme.png) 0 0 no-repeat;
        content: '';
        height: 149px;
        width: 149px;
    }
}

.demo {
    margin-bottom: 2em;
    
    h1 {
        @include border(1px, $alert-color, 'b');
        color: $alert-color;
    }
    
    h2 {
        @include border(1px, $brand-color, 'b');
        color: $brand-color;
    } 
    
    h3 {
        @include border(1px, lighten($action-color, 20%), 'b');
        color: $action-color;
    }
}