/*
Syntax error: Undefined variable: "$alert-color".
        on line 6 of /Users/stormcreative/Dropbox/Library/Ruby/Passage/public/Assets/Styles/Sass/Modules/_error.scss
        from line 1 of public/Assets/Styles/Sass/Queries/_960-home.scss
        from line 8 of public/Assets/Styles/Sass/IE.scss

1: /* =============================================================================
2:    The main stylesheet is loaded for all browsers (including IE)
3:    But because IE < 9 doesn't understand the media queries we're using to target 
4:    specific devices and so we use conditional comments to load this stylesheet 
5:    specifically for IE < 9, and we simply import the desktop styles.
6:    ========================================================================== */
7:    
8: @import "Queries/960-home";

Backtrace:
/Users/stormcreative/Dropbox/Library/Ruby/Passage/public/Assets/Styles/Sass/Modules/_error.scss:6
public/Assets/Styles/Sass/Queries/_960-home.scss:1
public/Assets/Styles/Sass/IE.scss:8
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/script/variable.rb:49:in `_perform'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/script/node.rb:40:in `perform'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:216:in `visit_prop'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:238:in `visit_rule'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:146:in `block in visit_import'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:146:in `map'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:146:in `visit_import'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:146:in `block in visit_import'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:146:in `map'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:146:in `visit_import'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/tree/root_node.rb:20:in `render'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/engine.rb:299:in `_render'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/engine.rb:246:in `render'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/plugin/compiler.rb:200:in `each'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/plugin/compiler.rb:234:in `watch'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/plugin.rb:107:in `method_missing'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/exec.rb:431:in `watch_or_update'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/exec.rb:302:in `process_result'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/exec.rb:41:in `parse'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/lib/sass/exec.rb:21:in `parse!'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.1.17/bin/sass:8:in `<top (required)>'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/bin/sass:19:in `load'
/Users/stormcreative/.rvm/gems/ruby-1.9.3-p125/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$alert-color\".\A         on line 6 of /Users/stormcreative/Dropbox/Library/Ruby/Passage/public/Assets/Styles/Sass/Modules/_error.scss\A         from line 1 of public/Assets/Styles/Sass/Queries/_960-home.scss\A         from line 8 of public/Assets/Styles/Sass/IE.scss\A \A 1: /* =============================================================================\A 2:    The main stylesheet is loaded for all browsers (including IE)\A 3:    But because IE < 9 doesn't understand the media queries we're using to target \A 4:    specific devices and so we use conditional comments to load this stylesheet \A 5:    specifically for IE < 9, and we simply import the desktop styles.\A 6:    ========================================================================== */\A 7:    \A 8: @import \"Queries/960-home\";"; }
