/* =============================================================================
   The main stylesheet is loaded for all browsers (including IE)
   But because IE < 9 doesn't understand the media queries we're using to target 
   specific devices and so we use conditional comments to load this stylesheet 
   specifically for IE < 9, and we simply import the desktop styles.
   ========================================================================== */
/* =============================================================================
   Error page
   ========================================================================== */
.error {
  color: #b22727;
}

/* =============================================================================
   Home page demo
   ========================================================================== */
.demo {
  margin-bottom: 2em;
}
.demo h1 {
  border: 1px solid #b22727;
  border-width: 0 0 1px 0;
  color: #b22727;
}
.demo h2 {
  border: 1px solid #cccc00;
  border-width: 0 0 1px 0;
  color: #cccc00;
}
.demo h3 {
  border: 1px solid #9fcb8c;
  border-width: 0 0 1px 0;
  color: #67a54b;
}

body {
  background-color: #526d7a;
  color: white;
}
body .demo h1 {
  color: #dd6262;
}
body a {
  color: yellow;
}
