/*
	Author		: Mark McDonnell
	Document	: IE_page
	Created on	: 20-08-2011
	Description	: Determines the design and layout of the IE7- notification page.
*/

body { 
	font: normal small Arial, Helvetica, sans-serif; 
	margin-top: 2em;
}

li { 
	margin-bottom: 1em;
}

a { 
	color: #C00;
}

a:hover,
a:focus { 
	color: #666; 
	text-decoration: none;
}

#container { 
	margin: auto; 
	width: 760px;
}