/* =============================================================================
   Modules
   These are the reusable, modular parts of our design.
   ========================================================================== */
 
/*
	e.g.
	.m-media
	.m-nav
	.m-banner
	.m-news
 */

@import "Modules/button";
@import "Modules/media";
@import "Modules/matrix";

.m-forkme {
	position: absolute;
	right: 0;
	top: 0;
}

h2 {
	@include borders(1px, #999, "b");
}