.push {
    margin: $space; 
}

.pushtop {
    margin-top: $space; 
}

.pushright {
    margin-right: $space; 
}

.pushbottom {
    margin-bottom: $space; 
}

.pushleft {
    margin-left: $space; 
}

.pushzero {
    margin: 0; 
}