@import "Modules/error";
@import "Modules/demo";

// Specific 320px styles

body {
    background-color: hsl(90%, 20%, 30%);
    
    .demo {
        color: white;
    }
    
    a {
        color: pink;
    }
}

.container {
	max-width: 100%;
}