@import "Modules/error";
@import "Modules/demo";

// Specific 480px styles

body {
    background-color: hsl(64%, 93%, 80%);
    
    .demo {
        color: black;
    }
    
    a {
        color: blue;
    }
}

.container {
	max-width: 100%;
}