@import "Modules/error";
@import "Modules/demo";

// Specific 960px styles

body {
    background-color: hsl(200%, 20%, 40%);
    color: white;
    
    .demo h1 {
        color: lighten($alert-color, 20%);
    }
    
    a {
        color: yellow;
    }
}